$color-grandient: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
$preto: #030007;
$preto-escuro: #08040D;
$preto-claro: #130B1D;
$cinza: #BFBFBF;
$branco: #FFFFFF;
$fonte-primaria: 'Inter', sans-serif;
$fonte-secundaria: 'Sora', sans-serif;
